.profile {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 880px) {
    .profile {
        flex-direction: column;
        align-content: center;
        box-sizing: border-box;
        padding-top: 36px;
        padding-bottom: 36px;
    }
}