.place__delete-button {
    min-width: 18px;
    min-height: 19px;
    box-sizing: border-box;
    background-image: url(../../../images/icons/trash-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: opacity .3s ease;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.place__delete-button:hover {
    opacity: 0.5;
}