.header__content {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 880px;
  max-width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
}

@media screen and (max-width: 980px) {
  .header__content {
    padding-bottom: 30.9px;
    width: calc(320px + 560*(100vw - 320px)/(1280 - 320))
  }
}
