.place__like-button {
    min-width: 22px;
    min-height: 19px;
    box-sizing: border-box;
    background-image: url(../../../images/icons/like-icon_disabled.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: opacity .3s ease;
    border: none;
    cursor: pointer;
}


.place__like-button:hover {
    opacity: 0.6;
}

.place__like-button:focus {
    background-image: url(../../../images/icons/like-icon_active.svg);
    transition: background-image .5s ease-in-out;
}