.popup__container {
    padding: 34px 36px 30px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-height: 330px;
    max-width: 430px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
}

@media (max-width: 530px) {
    .popup__container {
        padding: 25px 22px;
        max-width: 282px;
    }
}