.profile__add-button {
    margin-left: auto;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/icons/add-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    transition: opacity .3s ease;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    background-size: 22px 22px;
}


.profile__add-button:hover {
    opacity: 0.6;
}


.profile__add-button:focus {
    opacity: 0.6;
}

@media (max-width: 880px) {
    .profile__add-button {
        margin-top: 36px;
        background-size: 16px 16px;
        width: calc(100% - 38px);
    }
}