.popup__form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 34px 36.76px 36px 36.51px;
  max-width: 358px;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 980px) {
  .popup__form {
    max-width: calc(238px + 120*(100vw - 320px)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    max-width: 238px;
    margin: 25px 22px 25px 22px;
  }
}