.wrapper {
  padding: 45px 0 60px 0;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  align-self: center;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .wrapper {
    padding: 28px 0 36px 0;
  }
}

